html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    display: flex;
    min-height: 100vh;
    background: url("https://raw.githubusercontent.com/DianaZayats/Eclipse-DNMV/diana-frontend/images/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.navbar {
    background: url("https://raw.githubusercontent.com/DianaZayats/Eclipse-DNMV/diana-frontend/images/back.jpg");
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}